# 1. Ignore all raw neuroimaging data types globally
*.nii
*.nii.gz
*.hdr
*.img

# 2. Ignore data folder contents completely
data/*

# 3. Ignore results folder contents completely, except figures/tables
results/*
!results/figures/
!results/tables/
results/figures/*
results/tables/*
!results/figures/**/*.png
!results/figures/**/*.jpg
!results/figures/**/*.jpeg
!results/tables/**/*.csv
!results/tables/**/*.md

#4. Ignore Source Data contents completely
sourcedata/*

# 6. Code environment cleanup
*.log
__pycache__/
.DS_Store
*.mat
